/**
 * All styles related to markup inside the what we do section
 */
 .whatwedo{
 	min-height: em(1041px);
 	
 	z-index: 4;
 	/*background-size: cover;
 	background-position: center center;
 	-webkit-transform: initial!important;
 	-webkit-background-size:cover; 
   	-moz-background-size:cover; 
   	background: url($images-path + 'whatwedo-bg.jpg') no-repeat;
   	-o-background-size:cover; */
	max-width: 100%;
	overflow: hidden;
	h2{
 		position: relative;
 		width:100%;
 		text-align: center;
 	}
 }
 .whatwedo__container{
 	position: fixed;
 	width:100%;
 	z-index: 4;
 	-webkit-transform: initial!important;
	display: block;	
 }
  .whatwedo__bg{
  	position: absolute;
  	height: 100%;
  	z-index: 0;
  	background: url($images-path + 'whatwedo-bg.jpg') no-repeat white;
    background-size: 100% auto;
  	background-position: center center;
 	  -webkit-transform: translateZ(0);
   	max-width: 100%;
   	width: 100%;
   	top:0;
   	left:0;
  }
 
 .whatwedo__content{
 	position:relative;
 	margin:0 auto;
	width: 73%;
 }
 
 .whatwedo__content__main{
 	padding: 0 15px 35px;
 	margin-top: 52px;
 }
 
 .whatwedo__table{
  	position:relative;
  	display: table;
  	width: 100%;
  }
 .whatwedo__column{
 	width: 33%;
 	display: table-cell;
  }
  
  .whatwedo__copy{
	padding:0 15px;
	h3{
		padding-bottom: em(18px, 22px);
	}
  }
 
  